@use "../src/scss/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container-centered {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 14px 34px;
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-primary {
  background: linear-gradient(to right, $secondary-color, $primary-color);
  font-size: 0.7em;

  &:hover {
    background: linear-gradient(to right, #444444, #202020);
  }
}

.btn-secondary {
  background: linear-gradient(to right, #444444, #202020);
  font-size: 0.7em;

  &:hover {
    background: linear-gradient(to right, $secondary-color, $primary-color);
  }
}

.separator {
  display: flex;
  gap: 6px;
  height: 4px;
}

.separator-line {
  background: linear-gradient(to right, $secondary-color, $primary-color);
  height: 100%;
  border-radius: 6px;
}

.line1 {
  width: 10px;
}

.line2 {
  width: 40px;
}